<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
  <form method="post" th:action="@{/user/login}">
    <div th:if="${param.error}">
      <div class="alert alert-danger">사용자ID 또는 비밀번호를 확인해주세요</div>
    </div>
    <div class="mb-3">
      <label for="username" class="form-label">사용자ID</label>
      <input type="text" class="form-control" id="username" name="username">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">비밀번호</label>
      <input type="password" class="form-control" id="password" name="password">
    </div>
    <button type="submit" class="btn btn-primary">로그인</button>
  </form>
</div>

</html>